/* Stili per il body, la tabella e le celle */
.details-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    
}

.details{padding:50px;}

.details-table td {
   
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 50%; /* Imposta la larghezza delle celle al 50% della larghezza della tabella */
    background-color: white;
     border-left: 1px solid;
    
}

/* Stili per l'immagine del prodotto */
.product-images img {
    max-width: 300px;
    height: auto;
    margin-top: 20px;
    padding:10px;
    
}

/* Stili per i dettagli del prodotto */
.product-brand {
    text-transform: capitalize;
    font-size: 30px;
    
}

.product-short-des {
    font-size: 25px;
    line-height: 30px;
    margin: 15px 0 30px;
}

.product-price {
    font-weight: 700;
    font-size: 30px;
}

/* Stili per i bottoni */
.btn {
    background-color: #E05D5D;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid  #E05D5D;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border-radius: 2em;
}

.return-btn {
    margin-bottom: 20px;
}

.cart-btn {
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #ff8080;
}

/* Stili per il titolo della pagina */
.titolo-pagina {
    
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size:15px;
}

/* Stili per il footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

@media screen and (max-width: 675px) {
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    
}

.details-table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 50%; /* Imposta la larghezza delle celle al 50% della larghezza della tabella */
    background-color: white;
}

/* Stili per l'immagine del prodotto */
.product-images img {
    max-width: 250px;
    height: auto;
    
    
}



.product-short-des {
    font-size: 20px;
    line-height: 30px;
    margin: 15px 0 30px;
}

.product-price {
    font-weight: 700;
    font-size: 20px;
}

    @media screen and (max-width: 540px) {
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    
}
        .details-table td {
        width: 100%; /* Imposta la larghezza delle celle al 100% della larghezza della tabella per occupare l'intera larghezza dello schermo */
        display: block; /* Imposta le celle come blocchi per farle apparire una sotto l'altra */
        border-bottom: 1px solid;
        }


/* Stili per l'immagine del prodotto */
.product-images img {
    max-width: 300px;
    height: auto;
    
    
}
.titolo-pagina{
    font-size: 15px;
}


.product-short-des {
    font-size: 20px;
    line-height: 30px;
    margin: 15px 0 30px;
}

.product-price {
    font-weight: 700;
    font-size: 20px;
}

/* Stili per i bottoni */
